@charset "UTF-8";

body
{
    background-color: DodgerBlue;
    color: White;
    font-family: Arial, sans-serif;
}
  
main
{
    background-color: White;
    color: Navy;
}


/* 
	Responsive style settings for larger screen: 
	1. body's background color, text color, and font family,
	2. header/banner's background color and text color.
*/
@media screen and (min-width: 800px) 
{
    body
    {
      background-color: LightSkyBlue;
      color: Navy;
      font-family: 'Georgia', serif;
    }
  
    header
    {
      background-color: DodgerBlue;
      color: Snow;
    }
}
  