@charset "utf-8";
/*
	css for Chateau Chien Dog Training website
*/

/*
	Original Color Palette:
	body   bg-DodgerBlue,   font-White for small screen
	       bg-LightSkyBlue, font-Navy  for large screen
	header bg-BodgerBlue,   font-White for small screen
	       bg-BodgerBlue,   font-Snow  for large screen

	New Color Palette:
	body   bg-#856F6F, font-#EEFFFF for small screen, contrast 4.52
	       bg-#13778B, font-#E7F7F8 for large screen, contrast 4.71
	header bg-#605252, font-#EEFFFF for small screen, contrast 7.21
	       bg-#0C535F, font-#E7F7F8 for large screen, contrast 7.88

	For links, 
	Unvisited-White   on background #856F6F (small screen),   contrast 4.66
	                  on background #13778B (large screen),   contrast 5.19
	Visited  -Yellow  on background #856F6F (small screen),   contrast 4.34
	                  on background #13778B (large screen),   contrast 4.84
	Hover    -Mercury (#E5E5E5) on background Navy (#000080), contrast 12.7
	
	I used these sites to generate color palette samples:
	https://www.canva.com/colors/color-palette-generator/
	https://coolors.co/
	
	I used these sites to check color contrast:
	https://webaim.org/resources/contrastchecker/
	https://snook.ca/technical/colour_contrast/colour.html#fg=000000,bg=FFFFFF
	
	And used this site for HEX to RGB conversion:
	https://www.rapidtables.com/convert/color/hex-to-rgb.html
*/

/* index.html and common styles */
body {
	background-color: #856F6F;
	color: #EEFFFF;
	font-family: Arial, sans-serif;
}
header {
	background-color: #605252;
	background-image: url("../images/LogoSmall.png");
	background-position: right top;
	background-repeat: no-repeat;
	min-height: 50px;
}
main {
	padding: 1em;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 10px 0;
}
a {
	color: White;
}
a:hover {
	color: Yellow;
}
nav {
	padding: 2px;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
nav a {
	padding: 1rem;
	text-decoration: none;
	color: rgb(0, 0, 128);
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
}
nav a:link {
	color: rgb(255, 255, 255); /* White #FFFFFF*/
}
nav a:visited {
	color: rgb(255, 255, 0); /* Yellow #FFFF00 */
}
nav a:hover {
	background-color: rgb(0, 0, 128); /* Navy Blue #000080 */
	color: rgb(229, 229, 229); /* Mercury #E5E5E5 */
}
main {
	background-color: White;
	color: Navy;
	padding-bottom: 20px;
}
.orderedlist {
	background-color: #ddeeff;
	padding: 5px;
}
/* for each occurrence of the business name */
.largeritalics {
	font-size: 1.2em;
	font-style: italic;
}
#schoolname {
	font-family: "Brush Script MT", cursive;
	font-size: 4em;
}
footer {
	text-align: center;
	clear: both;
}

/* classes.html */
dt {
	font-weight: bold;
}
.resp_img1 {
	width: 100%;
	height: auto;
}
.resp_img2 {
	max-width: 100%;
	height: auto;
}
.fixed_img {
	width: 250px;
	height: auto;
}
#classdescriptions, #troubleshooting {
	background-color: #ddeeff;
	color: Navy;
	padding: 0.5em;
}
#classoptions {
	background-color: #ffffbb;
	color: Navy;
	padding: 0.5em;
	border: 3px solid Red;
	border-radius: 30px;
}
#classoptions h2, #classdescriptions h2, #troubleshooting h2 {
	text-align: center;
}

/* team.html */
#sponsors {
	padding: 1em;
}
#trainers {
	background-color: #ffeedd;
	border-radius: 10px;
	padding: 1.5em;
}
#trainers ol {
	list-style-type: lower-alpha;
}
#trainers li {
	margin-bottom: 10px;
}
#trainers em {
	font-style: italic;
	font-weight: bold;
}
.trainers_characteristics {
	text-align: center;
}
.trainers_characteristics ol {
	display: inline-block;
	text-align: left;
}
/* flexible container around the figures of sponsors/traniners */
.images_gallery_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.images_gallery_container a {
	color: Black;
	text-decoration: none;
	border: 3px solid White;
	border-radius: 20px;
}
.images_gallery_container a:hover {
	color: Blue;
	border: 3px solid Blue;
}
figure.sponsor_figure {
	margin: 10px;
	text-align: center;
	width: 200px;
}
figure.sponsor_figure img {
	width: 100px;
	height: auto;
}
figure.trainer_figure {
	margin: 10px;
	text-align: center;
	width: 100px;
}
figure.trainer_figure img {
	width: 80px;
	height: auto;
	/* make the trainer images circle */
	border-radius: 40px;
}
figcaption {
	margin-top: 5px;
	font-weight: bold;
}

/* ourgraduates.html */
.graduates_container {
	display: grid;
	/* 2 columns for small screens, change to 4 columns in large screens */
	grid-template-columns: repeat(2, 1fr); 
	/* let images auto wrap to fill up the grid area */
	grid-auto-flow: dense;
	grid-gap: 2px;
	align-items: center;
	margin: 20px auto;
	padding: 30px 10px;
	background-color: #ffa;
	border-radius: 10px;
	filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.5));
}
.graduates_container img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
/* image of my dog: focused by fixing position at row 1 column 1, 
   the other images auto wrap to fill up the grid area */
.mydog {
	grid-area: 1 / 1 / 2 / 2;
}
/* for long images, expand across two rows */
.img_long {
	grid-row: auto / span 2;
}
/* for wide images, expand across two columns */
.img_wide {
	grid-column: auto / span 2;
}
#attribution {
	border-top: Gray 1px solid;
	margin-top: 50px;
}
#attribution a {
	background-color: Blue;
	padding: 0.2em 0.5em;
	border-radius: 5px;
	text-decoration: none;
}
#attribution a:hover {
	background-color: Red;
}

/* 
	-------------------------------------------------------------------
	Responsive style settings for larger screen: 
	1. body's background color, text color, and font family,
	2. header/banner's background color and text color.
	3. navbar from horizontal on small screen to vertical on large screen
	
*/
@media screen and (min-width: 800px) {

	/* index.html and common styles */
	body {
		background-color: #13778B;
		color: #E7F7F8;
		font-family: Georgia, serif;
	}
	header {
		background-color: #0C535F;
		color: #E7F7F8;
		background-image: url("../images/LogoLarge.png");
		min-height: 100px;
	}
	/* for two-column display on larger screen */
	.content_container {
		display: flex;
	}
	main {
		height: 100vh;
		flex-grow: 1;
		overflow: scroll;
	}
	/* for vertical navbar on larger screen */
	nav {
		flex-direction: column;
		margin-right: 5px;
		justify-content: flex-start;
		height: 100vh;
	}

	/* classes.html */
	#classdescriptions, #troubleshooting {
		padding: 1em;
	}
	#classoptions {
		padding: 1em;
	}

	/* team.html */
	figure.trainer_figure {
		width: 180px;
	}
	figure.trainer_figure img {
		width: 150px;
		height: auto;
		border-radius: 75px;
	}
	figure.sponsor_figure img {
		width: 150px;
		height: auto;
		border-radius: 75px;
	}

	/* ourgraduates.html */
	.graduates_container {
		/* 4 columns for large screens, reduce to 2 columns in small screens */
		grid-template-columns: repeat(4, 1fr);
		background-color: #9cc;
	}
}