@charset "utf-8";
/*
 * css for Chateau Chien Dog Training website
 * Dedicated to the new page of team2.html with Dreamweaver
 */
body {
	background-color: #13778B;
	color: white;
	text-align: center;
	box-sizing: border-box;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1.1em;
}
section a, footer a {
	text-decoration: none;
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
}
section a:hover, footer a:hover {
	color: red;
	background-color: white;
	text-decoration: none;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
	color: yellow;
}
h3 {
	font-size: 1.5em;
}
/* flex container for both sponsors and trainers */
#introduction {
	width: 80%;
	margin: auto;
	padding: 40px 0;
}
.items_container {
	width: 80%;
	margin: 0 auto 60px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item {
	width: 25%;
	min-width: 245px;
	margin: 2em;
	border-radius: 20px;
	background-color: white;
	color: #0C535F;
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}
.item_img {
	margin: 10px;
	overflow: hidden;
}
.item_img img {
	padding: 10px;
	width: 80%;
	height: 80%;
	transition: transform 0.5s; 
}
/* make the trainer images circle */
.circle {
	border-radius: 50%; 
}
.item_desc {
	padding: 0 0.5em 0.5em 0.5em;
}
.item_desc h3 {
	display: inline-block;
	padding: 0.5em 1em 0 1em;
	margin: 0;
	border-top: 1px solid #13778B;
}
/* make the sponsor image animation */ 
.link:hover .explode {
	transform: scale(1.2);
}
.link:hover {
	color: red;
	filter: drop-shadow(3px 3px 5px rgba(255, 0, 0, 0.8));
}	
.separator {
	width: 50%;
	margin: auto;
	height: 80px;
	border-top: 1px solid rgba(255,255,255,0.5);
}
footer {
	font-size: 0.8em;
	position: fixed; /* make footer fixed to the bottom */
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(180deg, rgba(12,83,95,0.20) 0%, rgba(12,83,95,0.90) 30%, rgba(12,83,95,1.00) 100%);
	text-align: center;
	line-height: 1.3em;
}
/* 
 * modify Bootstrap navbar appearance: customization for the appearance of the nav menu,  
 * including gradient background color, font colors, alignment, etc.
 */
li a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: white;
	border-radius: 0.25rem;
	text-align: left;
	max-width: 180px;
}
li a:hover {
	background-color: yellow;
	color: black;
	text-decoration: none;
}
.my-current {
	cursor: default; /* Prevent pointer change */
	color: yellow; /* Change color to indicate current page */
	font-weight: bold;
	pointer-events: none; /* Disable mouse events */
}
.my-bg-light {
	background-image: linear-gradient(180deg, rgba(12,83,95,1.00) 0%, rgba(12,83,95,0.90) 70%, rgba(12,83,95,0.50) 100%);
}
.my-brand {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
}
.my-brand span {
	color: white;
	font-family: "Brush Script MT", cursive;
	font-size: 1.5em;
}

/* 
 * Established with the help of Dreamweaver visual media queries bar, 
 * rules for different screen sizes of 576px, 768px, 992px, and 1200px.
 * Also aligned the color palette with the original website on both 
 * small and large screen sizes.
 */
@media (max-width: 1200px){
	.item {
		width: 25%;
		min-width: 195px;
		margin: 1.8em;
	}
	.items_container {
		width: 85%;
	}
}

@media (max-width: 992px){
	.item {
		width: 40%;
		min-width: 245px;
		margin: 1.8em;
	}
	.items_container {
		width: 85%;
	}
	/* 
	 * Align color palette with the original website for smaller screens 
	 */
	.my-bg-light {
		background-image: linear-gradient(180deg, rgba(96,82,82,1.00) 0%, rgba(96,82,82,0.90) 70%, rgba(96,82,82,0.50) 100%);
	}
	footer {
		background-image: linear-gradient(180deg, rgba(96,82,82,0.20) 0%, rgba(96,82,82,0.90) 30%, rgba(96,82,82,1.00) 100%);
	}
	body {
		background-color: #856F6F;
	}
}

@media (max-width: 768px){
	.item {
		width: 100%;
		min-width: 245px;
		margin: 1em;
		display: flex;
		align-items: center;
	}
	.items_container {
		width: 90%;
	}
	.item_desc h3 {
		border-top: 1px solid white; /* changed to row display */
	}
}

@media (max-width: 576px){
	.items_container {
		width: 95%;
	}
	.item_desc {
		font-size: 0.8em;
	}
}
